<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check</title>
    <link rel="stylesheet" href="{{url_for('static',filename ='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename ='css/bootstrap.min.css')}}">

</head>
<style>
#button {
    width: 16em;
    border: 4px solid green;
    background: #ffe;
    border-radius: 5px;
   }
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}
    #buttton {
    width: 16em;
    border: 4px solid slateblue;
    background: #ffe;
    border-radius: 5px;
    }

</style>

<body>
<div class="landing">
    <br>
<h2 style="color: #f46f25; margin-left: 700px;" >you Uploaded this image {{ value }}
    <br> are your sure to continue ? </h2>

<div id="button" style="margin-left: 700px;"><a href="gallery">show Result</a></div>
<div id="buttton" style="margin-left: 700px;" ><a href="/">Return</a></div>

</div>

</body>
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>