<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename ='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename ='css/bootstrap.min.css')}}">

</head>
<body>


<div class="landing">

<div class="container">

    <div class="row">

        <div class="col-lg-12">

    

        </div>
        <hr>
        <h1 class="page-header text-center" style="color: #f46f25;">Result</h1>
                <span style="color: #f46f25; margin-left: 270px; font-size: 40px;   ">Input</span>
        <span style="color: #f46f25; margin-left: 450px; font-size: 40px; ">Output</span>
        <hr>
        {% for image_name in image_names %}

            <img class="img-thumbnail" style="width:500px;height:500px; margin-left: 70px;" src=" {{url_for('send_image', filename=image_name)}}">

        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</div>
</body>
</html>