$mainFont :'Josefin Sans', sans-serif;
$mainFont2: 'Nunito Sans', sans-serif;
$mainFont3:'Cormorant Unicase', serif;
$mainFont4:'Libre Barcode 128 Text', cursive;
$mainFont5:'Orbitron', sans-serif;
$mainFont6:'Playfair Display SC', serif;
$mainFont7:'Aldrich', sans-serif;
$mainColor:#f46f25;
.landing
{
    width: 100%;
    height: 100vh;
    background: url('../img/1.jpeg');
    background-size: 100% 100%;
    .overlay
    {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
    }
   .about
   {
        text-align: center;
        padding: 10px;
        margin: 80px auto;
        h1
        {
            font-size: 50px;
            font-family: $mainFont5;
            color: #fff;
            span
            {
                font-weight: bold;
                color: $mainColor
            }
        }
        p
        {
            color: #fff;
            font-size: 20px;
            font-family: $mainFont7
        }
        @media only screen and (max-width: 700px)
         {
             .EditFont
             {
                font-size: 20px;
             }
             p
             {
                 font-size: 16px;
             }
        } 
    }
    @media only screen and (max-width: 700px)
    {
        .about
        {
            margin: 40px auto
        }
    }
    .form-con
    {
        background: rgba(43, 43, 43, 0.7);
        width: 100%;
        height:264px;
        margin: auto;
        color: #fff;
        h4
        {
            text-align: center;
            padding: 10px;
            font-family: $mainFont4;
            font-size: 35px;
            span
            {
                color: $mainColor
            }
        }
        .file-picker
        {
            padding: 10px;
            padding-left: 40px;
            margin: auto;
        }
        #msg
        {
            color: $mainColor;
            width: 70%;
            font-size: 12px;
            margin: auto
        }
        .btn-space
        {
            margin-top: 40px;
        }
        @media only screen and (max-width: 700px)
        {
            .btn-space
            {
                margin-top: 20px;
            }
        }
        .lol
        {
            width: 70%;
            margin: auto;
            padding: 5px;
            background:transparent;
            border: 0;
            border: 2px solid $mainColor;
            border-radius: 5px;
            transition: all.4s ease-in-out;
            color: $mainColor;
            padding-bottom: 10px;
        }
        .lol:hover
        {
            background: $mainColor;
            color: #fff;
        }
    }
}
